.screenshot img {
    max-width: 100%;
    width: 100%;
}



/*Meta Box*/
.custom-meta-box{
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid #e5e5e5;
}

.custom-meta-box-title{ font-weight:bold; }

table.cmb_metabox td, table.cmb_metabox th{ 
    border-bottom: 
    1px solid #E9E9E9; 
}
table.cmb_metabox th { 
    text-align: right; 
    font-weight:bold;
}
table.cmb_metabox th label { 
    margin-top:5px; 
    display:block;
    font-size: 11px;
    text-transform: uppercase;
    color: #787878;
}

p.cmb_metabox_description { 
    color: #AAA; 
    font-style: italic; 
    margin: 2px 0 !important;
}
span.cmb_metabox_description { 
    color: #AAA; 
    font-style: italic;
}


table.cmb_metabox input, 
table.cmb_metabox textarea { 
    font-size:12px; 
    padding: 5px; 
}

table.cmb_metabox input[type=text], 
table.cmb_metabox textarea { 
    width: 97%; 
    padding: 8px;
}
table.cmb_metabox textarea.cmb_textarea_code { 
    font-family: Consolas,Monaco,monospace; 
    line-height: 16px; 
}

table.cmb_metabox input.cmb_text_small { 
    width: 300px; 
    margin-right: 15px;
}

table.cmb_metabox input.cmb_text_medium { 
    width: 230px; 
    margin-right: 15px;
}

table.cmb_metabox input.cmb_upload_file { width: 65%; }

table.cmb_metabox li { 
    font-size:12px; 
    margin: 1px 0 5px 0; 
    line-height: 16px; 
}
table.cmb_metabox ul { 
    padding-top:5px;
     margin: 0; 
}

table.cmb_metabox select { 
    font-size:12px; 
    margin-top: 3px;
    padding: 7px;
    width: 300px;
    height: auto;
}

table.cmb_metabox input:focus, table.cmb_metabox textarea:focus { background: #fffff8;}
.cmb_metabox_title { margin: 0 0 5px 0; padding: 5px 0 0 0; font: italic 18px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;}
.cmb_radio_inline { padding: 4px 0 0 0;}
.cmb_radio_inline_option {display: inline; padding-right: 18px;}
table.cmb_metabox input[type="radio"] { margin: 0 5px 0 0; padding: 0;}
table.cmb_metabox input[type="checkbox"] { margin: 0 5px 0 0; padding: 0;}
table.cmb_metabox .mceLayout {border:1px solid #DFDFDF !important;}
table.cmb_metabox .mceIframeContainer {background:#FFF;}
table.cmb_metabox .meta_mce {width:97%;}
table.cmb_metabox .meta_mce textarea {width:100%;}
table.cmb_metabox .cmb_upload_status {  margin: 10px 0 0 0;}
table.cmb_metabox .cmb_upload_status .img_status {  position: relative; }
table.cmb_metabox .cmb_upload_status .img_status img { border:1px solid #DFDFDF; background: #FAFAFA; max-width:350px; padding: 5px; -moz-border-radius: 2px; border-radius: 2px;}
table.cmb_metabox .cmb_upload_status .img_status .cmb_remove_file_button { text-indent: -9999px; background: url(../images/ico-delete.png); width: 16px; height: 16px; position: absolute; top: -5px; left: -5px;}


/* Sidebar placement adjustments */
.inner-sidebar table.cmb_metabox input[type=text], table.cmb_metabox textarea { width: 95%; }
.inner-sidebar table.cmb_metabox .cmb_upload_status .img_status img { width: 90%; }




/*Portfolio post type*/
#images li {
    margin: 0 5px 5px 5px;
    float: left;
    list-style-type: none;
    cursor: move;
}

.instructions {
    clear: both;
}
#ps_custom_post_type_uploads div.inside p {
font-size: 1.1em;
line-height: 1.5em; 
margin: 10px 40px 15px 0;
}